.CheckProfile {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}
.CheckProfile--mobile {
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
.CheckProfile--mobile:before {
    position: absolute;
    content: "";
    inset: 0;
    background:  linear-gradient(
            rgba(121, 33, 209, 1),
            rgba(22, 22, 22, 0.3));
    width: 100vw;
    height: 100vh;
    opacity: 20%;
    z-index: 0;
}
.CheckProfile--mobile:after {
    position: absolute;
    content: "";
    inset: 0;
    background-image:
            url("../../assets/images/background-2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 50vh;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    opacity: 10%;
    z-index: 1;
    min-width: 320px;
}
.CheckProfile--desktop {
    z-index: 2;
    justify-content: center;
}
.CheckProfile--desktop:after {
    position: absolute;
    content: "";
    inset: 0;
    background-image:
            url("../../assets/images/background-2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100vh;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    opacity: 10%;
    z-index: 1;
    max-width: 1920px;
}

.logo {
    display: flex;
    z-index: 10;
}
/* LEFT CONTAINER desktop only*/
.left-container {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border: 2px #454545 solid;
    border-radius: 0.625rem;
    padding: 1.875rem;
    z-index: 10;
    margin: 0 3.5625rem;
    transition: all 0.5s ease-in-out;
}
.banner {
    border-radius: 0.625rem;
    height: auto;
    max-height: 30.5rem;
    transition: all 0.5s ease-in-out;
}
.banner--title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 1.25rem;
    margin-bottom: 0;
    transition: all 0.5s ease-in-out;
}
.dlc-container {
    margin-top: 1.4375rem;
    margin-bottom: 0;
    transition: all 0.5s ease-in-out;
}
.banner-desc {
    margin-top: 1.4375rem;
    margin-bottom: 0;
    max-width: 12rem;
    transition: all 0.5s ease-in-out;
}


/* СONTAINER */
.container {
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}
.container--mobile {
    background: linear-gradient(
            rgba(22, 22, 22, 0),
            rgba(22, 22, 22, 0),
            rgba(22, 22, 22, 1),
            rgba(22, 22, 22, 1),
            rgba(22, 22, 22, 1));
    justify-content: space-between;
}
.container--desktop {
    max-width: 27rem;
    margin-right: 3.5625rem;
}
.title--mobile {
    max-width: 12rem;
    font-size: 0.875rem;
    transition: all 0.5s ease-in-out;
}
.title--desktop {
    font-size: 2.5rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 20rem;
}

.ava:before {
    display: none;
}

/* DLC */
.dlc-container  {
    display: flex;
    flex-direction: row;
    margin-top: 1.125rem;
    transition: all 0.5s ease-in-out;
}

.dlc {
    margin-right: 0.625rem;
}

.order-name {
    color: #A852FF;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    margin-top: 0.75rem;
    margin-bottom: 0;
}
.order-num {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 400;
    margin-top: 0.75rem;
    margin-bottom: 0;
    width: 100%;
}
.link {
    color: #A852FF;
    text-decoration: none;
}
.check-nick{
    max-width: 20rem;
    margin: 0;
}
.full-text{
    font-weight: 400;
    margin: 0;
    width: 100%;
}
.btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 100%;
}
.btn-def {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 0.875rem;
}

.confirm-btn {
   margin: 0;
}
.change-acc {
    margin-top: 0.3125rem;
}

/* THIRD CONTAINER */
.third-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 20rem;
    transition: all 0.5s ease-in-out;
}
.lang {
    margin: 0.9375rem 0;
}
.lang--left {
    margin-right: 0.3125rem;
}

