.CheckProfile--mobile.green:before {
    position: absolute;
    content: "";
    inset: 0;
    background:  linear-gradient(
            rgba(36, 234, 56, 1),
            rgba(22, 22, 22, 0.3));
    width: 100vw;
    height: 100vh;
    opacity: 20%;
    z-index: 0;
}

.close-btn {
    position: fixed;
    top: 1.5625rem;
    right: 1.5625rem;
    transition: transfrom 0.5s ease-in-out;
}
.close-btn.hidden{
    opacity: 0;
    transform: translateX(100%);
}
.gift {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gift.hidden {
    display: none;
}
.gift h3{
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2.8125rem;
}
.gift-img {
    width: 11.25rem;
    height: 11.25rem;
    margin-bottom: 2.8125rem;
}

.ava--success {
    position: relative;
}
.ava--success:before {
    position: absolute;
    content: "";
    background-image: url("../../assets/images/gift.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 11.25rem 11.25rem;
    width: 11.25rem;
    height: 11.25rem;
    transform: translateY(-50%) translateX(-25%);
    z-index: -1;
}
.ava--hidden {
    opacity: 0;
    transform: translateY(-100%);
    max-height: 0;
}
.cong-text {
    color: #0DC11F;
    font-weight: 500;
    font-size: 1.25rem;
}
.cong-text.hidden {
    opacity: 0;
    transform: translateY(-100%);
    max-height: 0;
    margin: 0;
}


.btn-def {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
}
.btn--check-ver {
    margin-top: 1.5625rem;
}
.btn--goto {
    margin-top: 1.5625rem;
}
.btn-def.close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5625rem;
}
.btn-def.hidden {
    display: none;
}
.close-ico{
    margin-right: 0.9375rem;
}
.confirm-btn {
    margin: 0;
}
.change-acc {
    margin-top: 0.3125rem;
}

